# SQLite in Python

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('example.db')

In [3]:
c = conn.cursor()

In [4]:
c.execute('CREATE TABLE person1 (name text, address text)') 
# note, ' denote the number of lines the table will be created in, here, 1 line

conn.commit()

In [5]:
c.execute("SELECT name FROM sqlite_master WHERE type = 'table'")
c.fetchall()

[('person1',)]

- The above created a table called person with two text cols, name and address. It then listed the tables created from a master list called sqlite_master.
- Next video is how to inset data

In [6]:
c.execute("INSERT INTO person1 VALUES('Anna Henry', 'Carlow')")
conn.commit()

In [7]:
c.execute("SELECT * FROM person1")
# * is a wild card, it means all of the Cols
c.fetchall()

[('Anna Henry', 'Carlow')]

In [8]:
c.execute("SELECT name FROM person1")

c.fetchall()

[('Anna Henry',)]

In [9]:
person = [('Shelby Beck', 'Tipperary'), ('Maria Carr', 'Kerry'), ('Sean Heath', 'Cork')]
# two dimentional array

In [10]:
person

[('Shelby Beck', 'Tipperary'), ('Maria Carr', 'Kerry'), ('Sean Heath', 'Cork')]

In [11]:
c.executemany("INSERT INTO person1 VALUES(?, ?)", person)
conn.commit()

In [15]:
c.execute("SELECT name, address FROM person1")

c.fetchall()

[('Anna Henry', 'Carlow'),
 ('Shelby Beck', 'Tipperary'),
 ('Maria Carr', 'Kerry'),
 ('Sean Heath', 'Cork')]

- see $pandas.DataFrame.to_sql $ to get a csv file converted to a CSV

- Constraints, i.e. can't enter the same data twice, but SQLite will allow this by allowing a type of index called row id. Iis a number that increments when a new row is added. 
- Rows can be deleted by using the uniqie identifier.

In [16]:
c.execute("SELECT ROWID, name, address FROM person1")

c.fetchall()

[(1, 'Anna Henry', 'Carlow'),
 (2, 'Shelby Beck', 'Tipperary'),
 (3, 'Maria Carr', 'Kerry'),
 (4, 'Sean Heath', 'Cork')]

- The ROWID can be added automatically by adding 'id INTEGER PRIMARY KEY' in creating a table, i.e. 
- c.execute('CREATE TABLE person1 (id INTEGER PRIMARY KEY, name text, address text)')

### To delete a row use:
- c.execute(DELETE FROM person1 WHERE ROWID=1)
- conn.commit()

## SQLite3: with pandas

In [17]:
c.execute("DROP TABLE person")
conn.commit()

OperationalError: no such table: person

In [18]:
c.execute("SELECT name FROM sqlite_master WHERE type = 'table'")
c.fetchall()

[('person1',)]

In [19]:
c.execute("DROP TABLE person1")
conn.commit()

In [20]:
c.execute("SELECT name FROM sqlite_master WHERE type = 'table'")
c.fetchall()

[]

In [23]:
import pandas as pd

In [25]:
person = pd.read_csv("https://raw.githubusercontent.com/ianmcloughlin/datasets/master/cars-db/person.csv", index_col=0)
person.head(10)

                   Name    Address
ID
0            Anna Henry     Carlow
1           Shelby Beck  Tipperary
2            Marie Carr      Kerry
3           Sarah Heath   Monaghan
4         Robert Snyder    Leitrim
5            Lucas Ross       Cork
6             David Cox    Leitrim
7          Jackson Dean      Louth
8   Elizabeth Mcfarland     Dublin
9      Timothy Cummings   Limerick

In [26]:
person.to_sql("person", conn)

In [31]:
#c.execute("SELECT * FROM person")
#c.fetchall()

In [29]:
car = pd.read_csv("https://raw.githubusercontent.com/ianmcloughlin/datasets/master/cars-db/car.csv", index_col=0)
car.to_sql("car", conn)

In [32]:
#c.execute("SELECT * FROM car")
#c.fetchall()

In [33]:
county = pd.read_csv("https://raw.githubusercontent.com/ianmcloughlin/datasets/master/cars-db/county.csv", index_col=0)
county.to_sql("county", conn)

In [34]:
c.execute("SELECT name FROM sqlite_master WHERE type = 'table'")
c.fetchall()

[('person',), ('car',), ('county',)]

In [38]:
c.execute("""
         SELECT p.Name, c.Registration
         FROM person as p JOIN car as c ON p.ID= c.OwnerID
         """)
c.fetchall()

[('Timothy Cummings', '08-SO-11072'),
 ('Dana Wade', '16-KE-16368'),
 ('Valerie Stewart', '08-LD-16871'),
 ('Gregory Vazquez', '11-KY-17442'),
 ('Sara Lee', '16-LD-17545'),
 ('Jennifer Reeves', '10-WH-3543'),
 ('Leonard Chen', '03-KE-8148'),
 ('Robert Snyder', '06-G-23024'),
 ('Morgan Marsh', '08-LS-21770'),
 ('Kayla Rodriguez DVM', '03-WX-41717'),
 ('Robert Acevedo', '01-T-37495'),
 ('Susan Cummings', '11-WH-22446'),
 ('Anne Anderson', '09-MN-43311'),
 ('Anna Henry', '05-KK-2596'),
 ('Melanie White', '17-SO-17328'),
 ('Justin Casey', '99-L-23440'),
 ('Jacob Moore', '05-WX-31122'),
 ('Donna Mason', '16-LS-41756'),
 ('Leonard Brown', '16-RN-45098'),
 ('Paul Nicholson', '16-C-27251'),
 ('Stephanie Yates', '06-LD-43721'),
 ('Connie Walls', '03-RN-2898'),
 ('Tina Holland', '10-CW-49121'),
 ('Nicholas Carrillo', '15-LS-45283'),
 ('Anna Henry', '08-D-43986'),
 ('Devin Shaw', '08-DL-49460'),
 ('Melinda Blackwell', '08-DL-20130'),
 ('Robert Snyder', '10-WX-18691'),
 ('Marie Carr', '08-T-37917'),
 ('David Cox', '15-D-6469'),
 ('Richard Foley', '08-L-26251'),
 ('Alan Cabrera', '15-DL-15311'),
 ('Marcus Malone', '14-KE-41007'),
 ('Stephanie Yates', '14-DL-12858'),
 ('Diane Hunt', '04-WH-36658'),
 ('Mrs. Kerry Romero', '00-MO-9632'),
 ('Kathleen Henderson', '99-RN-41288'),
 ('Mrs. Kerry Romero', '13-MO-7316'),
 ('Gregory Charles', '00-MH-17952'),
 ('James Williams', '18-LM-29466'),
 ('George Fitzgerald', '08-D-18591'),
 ('Stephanie Yates', '01-KK-27583'),
 ('Billy King', '13-T-24765'),
 ('William Hall', '01-RN-44780'),
 ('Leonard Brown', '04-LD-24948'),
 ('Valerie Rodriguez', '13-SO-2521'),
 ('Leonard Brown', '16-WH-32130'),
 ('Sandra Knight', '13-KE-37707'),
 ('Mrs. Sheila Wilkerson', '99-CN-35366'),
 ('Marc Chapman', '18-CN-17743'),
 ('Alan Williams', '05-LS-6602'),
 ('Donna Mason', '02-T-2683'),
 ('Sandra Knight', '06-LD-44064'),
 ('Connie Walls', '14-SO-35322'),
 ('Sarah Heath', '00-MH-30641'),
 ('Karen Roach', '17-MH-38452'),
 ('Shelby Beck', '01-KY-40015'),
 ('Laura Miller', '13-G-17426'),
 ('Robert Fields', '03-LM-41543'),
 ('Mrs. Kerry Romero', '00-LH-46635'),
 ('Dana Wade', '09-SO-26131'),
 ('Glenn Gonzalez', '00-OY-15049'),
 ('Jesse Chavez', '12-G-20496'),
 ('Melinda Blackwell', '04-RN-2959'),
 ('Shelby Beck', '07-KY-17472'),
 ('James Walker', '03-KY-23864'),
 ('Robert Price', '03-CW-12234'),
 ('Valerie Rodriguez', '04-LS-17699'),
 ('Melinda Blackwell', '12-MO-21340'),
 ('Raymond Perkins', '14-WW-26729'),
 ('Connie Walls', '08-KK-6963'),
 ('Scott Whitaker', '03-D-36946'),
 ('Crystal Murphy', '03-WX-39739'),
 ('Timothy Cummings', '15-MO-29166'),
 ('Kayla Rodriguez DVM', '09-LM-6757'),
 ('Marie Carr', '99-LD-27879'),
 ('Raymond Perkins', '16-WX-38806'),
 ('Nicholas Carrillo', '06-KE-13830'),
 ('Emily Alvarado', '00-OY-18653'),
 ('Mrs. Kerry Romero', '09-G-14895'),
 ('Scott Whitaker', '06-LH-39166'),
 ('Morgan Marsh', '10-MO-45154'),
 ('Elizabeth Harper', '04-WH-37901'),
 ('Stephen Oneal', '13-DL-46087'),
 ('Justin Casey', '14-CN-12576'),
 ('Frederick Schwartz', '15-D-4470'),
 ('Christopher Mcmahon', '00-MO-32274'),
 ('Paul Nicholson', '15-WH-21313'),
 ('Melinda Blackwell', '08-D-29496'),
 ('Peter Vaughn DDS', '00-LD-24730'),
 ('Gregory Charles', '14-OY-15669'),
 ('Peter Vaughn DDS', '00-MO-6904'),
 ('Lucas Ross', '17-DL-4885'),
 ('Jenny Juarez', '05-MN-17446'),
 ('Jordan Velasquez', '04-L-19474'),
 ('Alan Williams', '99-WW-237'),
 ('Kerry Curry', '03-G-36241'),
 ('Sarah Heath', '09-W-11201'),
 ('Robert Acevedo', '13-MO-34031'),
 ('Tina Holland', '02-KK-25507'),
 ('Rachel Johnson', '08-LH-46637'),
 ('Paul Nicholson', '12-KY-47631'),
 ('Jennifer Sutton', '01-SO-45136'),
 ('Jeremiah Soto', '18-WH-15349'),
 ('Jeremiah Soto', '14-MO-11345'),
 ('Laura Miller', '13-CE-10371'),
 ('Frederick Schwartz', '17-KE-21153'),
 ('Rachel Johnson', '12-G-30288'),
 ('Jacob Moore', '13-T-20412'),
 ('Lucas Ross', '08-LS-13835'),
 ('Devin Shaw', '12-CW-37691'),
 ('Sarah Heath', '00-KY-48702'),
 ('Connie Walls', '14-LD-41919'),
 ('Laura Miller', '18-W-16094'),
 ('Jacob Moore', '11-MH-39456'),
 ('Rachel Johnson', '01-KK-21586'),
 ('Sandra Knight', '09-WX-7243'),
 ('Megan Clarke', '12-WX-26308'),
 ('Tina Holland', '02-LS-42993'),
 ('Nicholas Carrillo', '18-W-44751'),
 ('Leonard Chen', '11-L-45810'),
 ('Raymond Perkins', '12-MH-7025'),
 ('Diane Hunt', '09-CW-13802'),
 ('Nicholas Carrillo', '11-KK-40419'),
 ('Connie Walls', '09-MO-27719'),
 ('Rachel Johnson', '99-RN-21293'),
 ('Raymond Gould', '06-KK-24445'),
 ('Dana Wade', '99-DL-44188'),
 ('Lucas Ross', '17-CW-12306'),
 ('Melanie White', '12-WH-30512'),
 ('Donna Mason', '13-CW-22728'),
 ('Jordan Velasquez', '15-G-27780'),
 ('Morgan Marsh', '99-WX-37648'),
 ('Katherine Dalton', '07-G-30931'),
 ('Mrs. Kerry Romero', '08-G-34713'),
 ('Peter Vaughn DDS', '03-MO-23757'),
 ('Morgan Marsh', '09-LD-32395'),
 ('Donna Mason', '05-KE-47018'),
 ('Susan Cummings', '18-RN-21403'),
 ('Paul Raymond', '02-LH-37988'),
 ('Kathleen Henderson', '11-T-29849'),
 ('Alan Williams', '99-MN-36507'),
 ('Gregory Charles', '15-SO-10080'),
 ('Valerie Rodriguez', '10-KE-5471'),
 ('Susan Cummings', '09-C-15081'),
 ('Shelby Beck', '12-D-10674'),
 ('Jeff Stevens', '16-KK-6777'),
 ('Nathan Smith', '09-KY-24502'),
 ('Jeff Stevens', '06-L-13615'),
 ('Marcus Malone', '11-WX-6607'),
 ('Jesse Chavez', '99-KY-44876'),
 ('Susan Cummings', '01-KE-7495'),
 ('Justin Casey', '06-WH-45961'),
 ('Shannon Oneal', '13-RN-48840'),
 ('Melissa Bell', '15-LS-32504'),
 ('Kayla Rodriguez DVM', '09-KK-33938'),
 ('Leonard Brown', '15-SO-48732'),
 ('Tina Holland', '18-LH-9276'),
 ('Jennifer Reeves', '00-T-13145'),
 ('Donna Mason', '17-L-8077'),
 ('Raymond Perkins', '16-KY-38486'),
 ('Kathleen Henderson', '13-C-5004'),
 ('Sabrina Thompson', '13-KE-8122'),
 ('Elizabeth Mcfarland', '13-D-16232'),
 ('Tracey Olson', '07-OY-29590'),
 ('John Davis', '18-LS-3902'),
 ('Christina Bautista', '07-LD-25411'),
 ('Seth Simpson', '11-OY-49718'),
 ('Emily Cooper', '09-OY-12095'),
 ('Emily Alvarado', '10-RN-14168'),
 ('Jenny Juarez', '00-CN-12132'),
 ('Peter Vaughn DDS', '14-G-24691'),
 ('Connie Walls', '08-L-9335'),
 ('Mrs. Kerry Romero', '13-LS-7544'),
 ('Sandra Knight', '15-RN-47108'),
 ('Devin Shaw', '16-RN-12605'),
 ('Jenny Juarez', '15-WX-13974'),
 ('Alan Williams', '00-T-26883'),
 ('Carrie Sullivan', '01-C-1695'),
 ('Alan Williams', '11-WW-3780'),
 ('Tina Holland', '06-CW-29425'),
 ('Laura Miller', '04-MN-1637'),
 ('Raymond Perkins', '14-OY-39752'),
 ('Justin Casey', '15-MO-15513'),
 ('Robert Price', '16-MN-22976'),
 ('Christopher Miller', '07-OY-14928'),
 ('Gregory Vazquez', '09-L-10881'),
 ('Daniel Smith', '99-WX-23085'),
 ('Valerie Rodriguez', '01-DL-25359'),
 ('Elizabeth Harper', '00-MO-45664'),
 ('Daniel Smith', '08-WW-30636'),
 ('Megan Clarke', '01-CN-16097'),
 ('Tina Holland', '07-LM-3132'),
 ('Marc Chapman', '09-T-9813'),
 ('Anna Henry', '16-KK-30424'),
 ('Jesse Chavez', '99-CE-38547'),
 ('Sarah Heath', '10-LM-31279'),
 ('Paul Nicholson', '18-LH-44089'),
 ('David Matthews', '02-SO-11359'),
 ('Elizabeth Mcfarland', '10-KE-33674'),
 ('George Fitzgerald', '15-KE-8245'),
 ('Raymond Perkins', '09-KK-23170'),
 ('Christopher Mcmahon', '14-CN-36381'),
 ('Christina Bautista', '00-C-29416'),
 ('Christopher Mcmahon', '10-OY-1992'),
 ('David Matthews', '10-T-36797'),
 ('Rachel Johnson', '07-KY-35080'),
 ('Gail Jones', '08-MO-42969'),
 ('Jeff Stevens', '07-OY-23008'),
 ('Joseph Griffith', '14-MO-46320'),
 ('Katherine Dalton', '09-CW-29560'),
 ('Devin Shaw', '03-MH-49587'),
 ('Paul Raymond', '10-MH-34061'),
 ('Lucas Ross', '08-OY-35517'),
 ('Peter Vaughn DDS', '04-KY-47667'),
 ('Gregory Vazquez', '03-C-18358'),
 ('Marcus Malone', '11-DL-2662'),
 ('Gail Jones', '06-CW-15872'),
 ('Jenny Juarez', '08-KE-7824'),
 ('Sabrina Thompson', '14-WH-21137'),
 ('Kathleen Henderson', '11-W-6130'),
 ('Raymond Gould', '03-C-4508'),
 ('Elizabeth Mcfarland', '02-CN-35760'),
 ('Megan Clarke', '13-C-5330'),
 ('Justin Casey', '07-CN-40170'),
 ('Valerie Rodriguez', '07-CW-32094'),
 ('Alan Williams', '13-CW-22639'),
 ('Alan Williams', '10-LD-39262'),
 ('Stephanie Yates', '14-CE-46501'),
 ('Susan Cummings', '16-WW-18559'),
 ('Christopher Miller', '11-LD-42457'),
 ('Shannon Oneal', '02-W-35723'),
 ('Tina Holland', '13-RN-4833'),
 ('Karen Roach', '01-KK-12540'),
 ('Laura Miller', '14-CN-39530'),
 ('Carrie Sullivan', '08-T-1665'),
 ('Frederick Schwartz', '13-LH-30593'),
 ('Carrie Sullivan', '06-C-24008'),
 ('Megan Clarke', '12-LH-5689'),
 ('Leonard Chen', '05-WW-47977'),
 ('Susan Cummings', '09-KK-5328'),
 ('Marie Carr', '10-DL-6386'),
 ('John Davis', '05-MH-22339'),
 ('Jackson Dean', '02-MH-44541'),
 ('Jesse Chavez', '18-MN-26444'),
 ('Gregory Charles', '12-LM-22338'),
 ('Devin Shaw', '18-KY-29981'),
 ('Laura Miller', '01-G-8684'),
 ('Marc Chapman', '04-KY-32797'),
 ('Paul Nicholson', '08-LD-12240'),
 ('Donna Mason', '18-WW-11514'),
 ('Dana Wade', '03-L-40377'),
 ('Jenny Juarez', '15-G-37225'),
 ('Emily Alvarado', '14-CN-41515'),
 ('Robert Fields', '09-LS-131'),
 ('David Cox', '12-LS-47102'),
 ('Alan Cabrera', '15-WX-8189'),
 ('Donna Mason', '13-CW-21688'),
 ('John Davis', '15-DL-3247'),
 ('Raymond Perkins', '02-D-22267'),
 ('Robert Acevedo', '01-LS-33323'),
 ('Peter Vaughn DDS', '10-WH-9955'),
 ('Joseph Griffith', '03-MO-4365'),
 ('Joseph Griffith', '04-LD-23688'),
 ('Alan Williams', '13-G-16885'),
 ('Jenny Juarez', '18-KE-36389'),
 ('Melissa Lowe', '01-T-15866'),
 ('Christopher Miller', '08-KE-16056'),
 ('Kayla Rodriguez DVM', '13-G-24475'),
 ('Emily Cooper', '03-MO-25665'),
 ('Stephanie Yates', '18-T-2425'),
 ('Elizabeth Harper', '04-WW-24305'),
 ('Shannon Oneal', '13-OY-23701'),
 ('David Matthews', '08-MO-46007'),
 ('Robert Price', '00-L-47267'),
 ('Emily Cooper', '08-KK-47849'),
 ('Elizabeth Harper', '16-MN-41115'),
 ('Dana Wade', '02-DL-7526'),
 ('Melanie White', '01-G-15863'),
 ('Elizabeth Harper', '14-SO-6402'),
 ('Lori Harmon', '02-CN-7196'),
 ('Christopher Mcmahon', '01-CW-35670'),
 ('Sandra Knight', '16-T-45794'),
 ('Anna Henry', '03-KK-1616'),
 ('Jennifer Reeves', '08-WX-43305'),
 ('Mrs. Sheila Wilkerson', '15-W-31836'),
 ('Susan Cummings', '03-KE-1400'),
 ('Jared Nguyen', '08-WW-22857'),
 ('Elizabeth Harper', '15-L-48040'),
 ('Stephanie Yates', '05-CN-49186'),
 ('Tracey Olson', '18-T-43669'),
 ('John Davis', '05-WX-40194'),
 ('Anna Henry', '08-LH-30886'),
 ('Melanie White', '07-G-36331'),
 ('Leonard Chen', '06-WW-48865'),
 ('Leonard Brown', '16-MO-40801'),
 ('George Fitzgerald', '15-L-37732'),
 ('Gail Jones', '10-G-21752'),
 ('Susan Cummings', '08-C-34297'),
 ('Jacob Moore', '17-SO-23443'),
 ('Dana Wade', '05-CN-5924'),
 ('David Cox', '05-W-22770'),
 ('Joshua Perez', '10-LH-34050'),
 ('Robert Fields', '16-LS-26245'),
 ('Hannah Collier', '05-D-30917'),
 ('Dana Wade', '07-G-48955'),
 ('Diane Hunt', '13-G-48846'),
 ('Megan Clarke', '05-L-42386'),
 ('Richard Foley', '08-T-12971'),
 ('Carrie Sullivan', '18-WH-6082'),
 ('Daniel Smith', '12-MO-30235'),
 ('John Davis', '16-T-22243'),
 ('Jeff Stevens', '03-L-37130'),
 ('Devin Shaw', '12-MO-18353'),
 ('Robert Fields', '11-MN-11186'),
 ('Robert Price', '05-WX-40062'),
 ('Melissa Lowe', '04-D-38409'),
 ('William Hall', '16-CE-29807'),
 ('Joseph Griffith', '15-D-4632'),
 ('Joshua Perez', '14-LM-31240'),
 ('David Cox', '15-LH-20280'),
 ('Jeff Stevens', '04-L-14265'),
 ('Sandra Knight', '05-KK-13066'),
 ('Jordan Velasquez', '02-MN-14407'),
 ('Jared Nguyen', '11-CE-42446'),
 ('Melissa Lowe', '16-W-29168'),
 ('Katherine Dalton', '03-G-19542'),
 ('Hannah Collier', '18-MO-35400'),
 ('Alan Williams', '11-KK-35894'),
 ('Seth Simpson', '07-G-5958')]

- Joined person from one table to car from another.
- SQLite very efficent at looking at datasets and joining

In [39]:
c.execute("""
         SELECT p.Name, c.Registration, p.Address
         FROM person as p JOIN car as c ON p.ID= c.OwnerID
         """)
c.fetchall()

[('Timothy Cummings', '08-SO-11072', 'Limerick'),
 ('Dana Wade', '16-KE-16368', 'Mayo'),
 ('Valerie Stewart', '08-LD-16871', 'Longford'),
 ('Gregory Vazquez', '11-KY-17442', 'Sligo'),
 ('Sara Lee', '16-LD-17545', 'Laois'),
 ('Jennifer Reeves', '10-WH-3543', 'Offaly'),
 ('Leonard Chen', '03-KE-8148', 'Galway'),
 ('Robert Snyder', '06-G-23024', 'Leitrim'),
 ('Morgan Marsh', '08-LS-21770', 'Westmeath'),
 ('Kayla Rodriguez DVM', '03-WX-41717', 'Clare'),
 ('Robert Acevedo', '01-T-37495', 'Meath'),
 ('Susan Cummings', '11-WH-22446', 'Cork'),
 ('Anne Anderson', '09-MN-43311', 'Cork'),
 ('Anna Henry', '05-KK-2596', 'Carlow'),
 ('Melanie White', '17-SO-17328', 'Carlow'),
 ('Justin Casey', '99-L-23440', 'Louth'),
 ('Jacob Moore', '05-WX-31122', 'Longford'),
 ('Donna Mason', '16-LS-41756', 'Longford'),
 ('Leonard Brown', '16-RN-45098', 'Sligo'),
 ('Paul Nicholson', '16-C-27251', 'Wexford'),
 ('Stephanie Yates', '06-LD-43721', 'Meath'),
 ('Connie Walls', '03-RN-2898', 'Limerick'),
 ('Tina Holland', '10-CW-49121', 'Sligo'),
 ('Nicholas Carrillo', '15-LS-45283', 'Laois'),
 ('Anna Henry', '08-D-43986', 'Carlow'),
 ('Devin Shaw', '08-DL-49460', 'Wexford'),
 ('Melinda Blackwell', '08-DL-20130', 'Mayo'),
 ('Robert Snyder', '10-WX-18691', 'Leitrim'),
 ('Marie Carr', '08-T-37917', 'Kerry'),
 ('David Cox', '15-D-6469', 'Leitrim'),
 ('Richard Foley', '08-L-26251', 'Offaly'),
 ('Alan Cabrera', '15-DL-15311', 'Leitrim'),
 ('Marcus Malone', '14-KE-41007', 'Kildare'),
 ('Stephanie Yates', '14-DL-12858', 'Meath'),
 ('Diane Hunt', '04-WH-36658', 'Westmeath'),
 ('Mrs. Kerry Romero', '00-MO-9632', 'Limerick'),
 ('Kathleen Henderson', '99-RN-41288', 'Monaghan'),
 ('Mrs. Kerry Romero', '13-MO-7316', 'Limerick'),
 ('Gregory Charles', '00-MH-17952', 'Wicklow'),
 ('James Williams', '18-LM-29466', 'Kilkenny'),
 ('George Fitzgerald', '08-D-18591', 'Carlow'),
 ('Stephanie Yates', '01-KK-27583', 'Meath'),
 ('Billy King', '13-T-24765', 'Louth'),
 ('William Hall', '01-RN-44780', 'Kerry'),
 ('Leonard Brown', '04-LD-24948', 'Sligo'),
 ('Valerie Rodriguez', '13-SO-2521', 'Kerry'),
 ('Leonard Brown', '16-WH-32130', 'Sligo'),
 ('Sandra Knight', '13-KE-37707', 'Offaly'),
 ('Mrs. Sheila Wilkerson', '99-CN-35366', 'Tipperary'),
 ('Marc Chapman', '18-CN-17743', 'Dublin'),
 ('Alan Williams', '05-LS-6602', 'Galway'),
 ('Donna Mason', '02-T-2683', 'Longford'),
 ('Sandra Knight', '06-LD-44064', 'Offaly'),
 ('Connie Walls', '14-SO-35322', 'Limerick'),
 ('Sarah Heath', '00-MH-30641', 'Monaghan'),
 ('Karen Roach', '17-MH-38452', 'Sligo'),
 ('Shelby Beck', '01-KY-40015', 'Tipperary'),
 ('Laura Miller', '13-G-17426', 'Louth'),
 ('Robert Fields', '03-LM-41543', 'Louth'),
 ('Mrs. Kerry Romero', '00-LH-46635', 'Limerick'),
 ('Dana Wade', '09-SO-26131', 'Mayo'),
 ('Glenn Gonzalez', '00-OY-15049', 'Leitrim'),
 ('Jesse Chavez', '12-G-20496', 'Meath'),
 ('Melinda Blackwell', '04-RN-2959', 'Mayo'),
 ('Shelby Beck', '07-KY-17472', 'Tipperary'),
 ('James Walker', '03-KY-23864', 'Tipperary'),
 ('Robert Price', '03-CW-12234', 'Dublin'),
 ('Valerie Rodriguez', '04-LS-17699', 'Kerry'),
 ('Melinda Blackwell', '12-MO-21340', 'Mayo'),
 ('Raymond Perkins', '14-WW-26729', 'Clare'),
 ('Connie Walls', '08-KK-6963', 'Limerick'),
 ('Scott Whitaker', '03-D-36946', 'Offaly'),
 ('Crystal Murphy', '03-WX-39739', 'Clare'),
 ('Timothy Cummings', '15-MO-29166', 'Limerick'),
 ('Kayla Rodriguez DVM', '09-LM-6757', 'Clare'),
 ('Marie Carr', '99-LD-27879', 'Kerry'),
 ('Raymond Perkins', '16-WX-38806', 'Clare'),
 ('Nicholas Carrillo', '06-KE-13830', 'Laois'),
 ('Emily Alvarado', '00-OY-18653', 'Longford'),
 ('Mrs. Kerry Romero', '09-G-14895', 'Limerick'),
 ('Scott Whitaker', '06-LH-39166', 'Offaly'),
 ('Morgan Marsh', '10-MO-45154', 'Westmeath'),
 ('Elizabeth Harper', '04-WH-37901', 'Donegal'),
 ('Stephen Oneal', '13-DL-46087', 'Louth'),
 ('Justin Casey', '14-CN-12576', 'Louth'),
 ('Frederick Schwartz', '15-D-4470', 'Dublin'),
 ('Christopher Mcmahon', '00-MO-32274', 'Limerick'),
 ('Paul Nicholson', '15-WH-21313', 'Wexford'),
 ('Melinda Blackwell', '08-D-29496', 'Mayo'),
 ('Peter Vaughn DDS', '00-LD-24730', 'Cork'),
 ('Gregory Charles', '14-OY-15669', 'Wicklow'),
 ('Peter Vaughn DDS', '00-MO-6904', 'Cork'),
 ('Lucas Ross', '17-DL-4885', 'Cork'),
 ('Jenny Juarez', '05-MN-17446', 'Longford'),
 ('Jordan Velasquez', '04-L-19474', 'Galway'),
 ('Alan Williams', '99-WW-237', 'Galway'),
 ('Kerry Curry', '03-G-36241', 'Galway'),
 ('Sarah Heath', '09-W-11201', 'Monaghan'),
 ('Robert Acevedo', '13-MO-34031', 'Meath'),
 ('Tina Holland', '02-KK-25507', 'Sligo'),
 ('Rachel Johnson', '08-LH-46637', 'Kildare'),
 ('Paul Nicholson', '12-KY-47631', 'Wexford'),
 ('Jennifer Sutton', '01-SO-45136', 'Mayo'),
 ('Jeremiah Soto', '18-WH-15349', 'Sligo'),
 ('Jeremiah Soto', '14-MO-11345', 'Sligo'),
 ('Laura Miller', '13-CE-10371', 'Louth'),
 ('Frederick Schwartz', '17-KE-21153', 'Dublin'),
 ('Rachel Johnson', '12-G-30288', 'Kildare'),
 ('Jacob Moore', '13-T-20412', 'Longford'),
 ('Lucas Ross', '08-LS-13835', 'Cork'),
 ('Devin Shaw', '12-CW-37691', 'Wexford'),
 ('Sarah Heath', '00-KY-48702', 'Monaghan'),
 ('Connie Walls', '14-LD-41919', 'Limerick'),
 ('Laura Miller', '18-W-16094', 'Louth'),
 ('Jacob Moore', '11-MH-39456', 'Longford'),
 ('Rachel Johnson', '01-KK-21586', 'Kildare'),
 ('Sandra Knight', '09-WX-7243', 'Offaly'),
 ('Megan Clarke', '12-WX-26308', 'Kildare'),
 ('Tina Holland', '02-LS-42993', 'Sligo'),
 ('Nicholas Carrillo', '18-W-44751', 'Laois'),
 ('Leonard Chen', '11-L-45810', 'Galway'),
 ('Raymond Perkins', '12-MH-7025', 'Clare'),
 ('Diane Hunt', '09-CW-13802', 'Westmeath'),
 ('Nicholas Carrillo', '11-KK-40419', 'Laois'),
 ('Connie Walls', '09-MO-27719', 'Limerick'),
 ('Rachel Johnson', '99-RN-21293', 'Kildare'),
 ('Raymond Gould', '06-KK-24445', 'Clare'),
 ('Dana Wade', '99-DL-44188', 'Mayo'),
 ('Lucas Ross', '17-CW-12306', 'Cork'),
 ('Melanie White', '12-WH-30512', 'Carlow'),
 ('Donna Mason', '13-CW-22728', 'Longford'),
 ('Jordan Velasquez', '15-G-27780', 'Galway'),
 ('Morgan Marsh', '99-WX-37648', 'Westmeath'),
 ('Katherine Dalton', '07-G-30931', 'Kildare'),
 ('Mrs. Kerry Romero', '08-G-34713', 'Limerick'),
 ('Peter Vaughn DDS', '03-MO-23757', 'Cork'),
 ('Morgan Marsh', '09-LD-32395', 'Westmeath'),
 ('Donna Mason', '05-KE-47018', 'Longford'),
 ('Susan Cummings', '18-RN-21403', 'Cork'),
 ('Paul Raymond', '02-LH-37988', 'Louth'),
 ('Kathleen Henderson', '11-T-29849', 'Monaghan'),
 ('Alan Williams', '99-MN-36507', 'Galway'),
 ('Gregory Charles', '15-SO-10080', 'Wicklow'),
 ('Valerie Rodriguez', '10-KE-5471', 'Kerry'),
 ('Susan Cummings', '09-C-15081', 'Cork'),
 ('Shelby Beck', '12-D-10674', 'Tipperary'),
 ('Jeff Stevens', '16-KK-6777', 'Dublin'),
 ('Nathan Smith', '09-KY-24502', 'Roscommon'),
 ('Jeff Stevens', '06-L-13615', 'Dublin'),
 ('Marcus Malone', '11-WX-6607', 'Kildare'),
 ('Jesse Chavez', '99-KY-44876', 'Meath'),
 ('Susan Cummings', '01-KE-7495', 'Cork'),
 ('Justin Casey', '06-WH-45961', 'Louth'),
 ('Shannon Oneal', '13-RN-48840', 'Sligo'),
 ('Melissa Bell', '15-LS-32504', 'Kildare'),
 ('Kayla Rodriguez DVM', '09-KK-33938', 'Clare'),
 ('Leonard Brown', '15-SO-48732', 'Sligo'),
 ('Tina Holland', '18-LH-9276', 'Sligo'),
 ('Jennifer Reeves', '00-T-13145', 'Offaly'),
 ('Donna Mason', '17-L-8077', 'Longford'),
 ('Raymond Perkins', '16-KY-38486', 'Clare'),
 ('Kathleen Henderson', '13-C-5004', 'Monaghan'),
 ('Sabrina Thompson', '13-KE-8122', 'Longford'),
 ('Elizabeth Mcfarland', '13-D-16232', 'Dublin'),
 ('Tracey Olson', '07-OY-29590', 'Kilkenny'),
 ('John Davis', '18-LS-3902', 'Dublin'),
 ('Christina Bautista', '07-LD-25411', 'Longford'),
 ('Seth Simpson', '11-OY-49718', 'Westmeath'),
 ('Emily Cooper', '09-OY-12095', 'Kildare'),
 ('Emily Alvarado', '10-RN-14168', 'Longford'),
 ('Jenny Juarez', '00-CN-12132', 'Longford'),
 ('Peter Vaughn DDS', '14-G-24691', 'Cork'),
 ('Connie Walls', '08-L-9335', 'Limerick'),
 ('Mrs. Kerry Romero', '13-LS-7544', 'Limerick'),
 ('Sandra Knight', '15-RN-47108', 'Offaly'),
 ('Devin Shaw', '16-RN-12605', 'Wexford'),
 ('Jenny Juarez', '15-WX-13974', 'Longford'),
 ('Alan Williams', '00-T-26883', 'Galway'),
 ('Carrie Sullivan', '01-C-1695', 'Galway'),
 ('Alan Williams', '11-WW-3780', 'Galway'),
 ('Tina Holland', '06-CW-29425', 'Sligo'),
 ('Laura Miller', '04-MN-1637', 'Louth'),
 ('Raymond Perkins', '14-OY-39752', 'Clare'),
 ('Justin Casey', '15-MO-15513', 'Louth'),
 ('Robert Price', '16-MN-22976', 'Dublin'),
 ('Christopher Miller', '07-OY-14928', 'Kerry'),
 ('Gregory Vazquez', '09-L-10881', 'Sligo'),
 ('Daniel Smith', '99-WX-23085', 'Limerick'),
 ('Valerie Rodriguez', '01-DL-25359', 'Kerry'),
 ('Elizabeth Harper', '00-MO-45664', 'Donegal'),
 ('Daniel Smith', '08-WW-30636', 'Limerick'),
 ('Megan Clarke', '01-CN-16097', 'Kildare'),
 ('Tina Holland', '07-LM-3132', 'Sligo'),
 ('Marc Chapman', '09-T-9813', 'Dublin'),
 ('Anna Henry', '16-KK-30424', 'Carlow'),
 ('Jesse Chavez', '99-CE-38547', 'Meath'),
 ('Sarah Heath', '10-LM-31279', 'Monaghan'),
 ('Paul Nicholson', '18-LH-44089', 'Wexford'),
 ('David Matthews', '02-SO-11359', 'Leitrim'),
 ('Elizabeth Mcfarland', '10-KE-33674', 'Dublin'),
 ('George Fitzgerald', '15-KE-8245', 'Carlow'),
 ('Raymond Perkins', '09-KK-23170', 'Clare'),
 ('Christopher Mcmahon', '14-CN-36381', 'Limerick'),
 ('Christina Bautista', '00-C-29416', 'Longford'),
 ('Christopher Mcmahon', '10-OY-1992', 'Limerick'),
 ('David Matthews', '10-T-36797', 'Leitrim'),
 ('Rachel Johnson', '07-KY-35080', 'Kildare'),
 ('Gail Jones', '08-MO-42969', 'Waterford'),
 ('Jeff Stevens', '07-OY-23008', 'Dublin'),
 ('Joseph Griffith', '14-MO-46320', 'Wicklow'),
 ('Katherine Dalton', '09-CW-29560', 'Kildare'),
 ('Devin Shaw', '03-MH-49587', 'Wexford'),
 ('Paul Raymond', '10-MH-34061', 'Louth'),
 ('Lucas Ross', '08-OY-35517', 'Cork'),
 ('Peter Vaughn DDS', '04-KY-47667', 'Cork'),
 ('Gregory Vazquez', '03-C-18358', 'Sligo'),
 ('Marcus Malone', '11-DL-2662', 'Kildare'),
 ('Gail Jones', '06-CW-15872', 'Waterford'),
 ('Jenny Juarez', '08-KE-7824', 'Longford'),
 ('Sabrina Thompson', '14-WH-21137', 'Longford'),
 ('Kathleen Henderson', '11-W-6130', 'Monaghan'),
 ('Raymond Gould', '03-C-4508', 'Clare'),
 ('Elizabeth Mcfarland', '02-CN-35760', 'Dublin'),
 ('Megan Clarke', '13-C-5330', 'Kildare'),
 ('Justin Casey', '07-CN-40170', 'Louth'),
 ('Valerie Rodriguez', '07-CW-32094', 'Kerry'),
 ('Alan Williams', '13-CW-22639', 'Galway'),
 ('Alan Williams', '10-LD-39262', 'Galway'),
 ('Stephanie Yates', '14-CE-46501', 'Meath'),
 ('Susan Cummings', '16-WW-18559', 'Cork'),
 ('Christopher Miller', '11-LD-42457', 'Kerry'),
 ('Shannon Oneal', '02-W-35723', 'Sligo'),
 ('Tina Holland', '13-RN-4833', 'Sligo'),
 ('Karen Roach', '01-KK-12540', 'Sligo'),
 ('Laura Miller', '14-CN-39530', 'Louth'),
 ('Carrie Sullivan', '08-T-1665', 'Galway'),
 ('Frederick Schwartz', '13-LH-30593', 'Dublin'),
 ('Carrie Sullivan', '06-C-24008', 'Galway'),
 ('Megan Clarke', '12-LH-5689', 'Kildare'),
 ('Leonard Chen', '05-WW-47977', 'Galway'),
 ('Susan Cummings', '09-KK-5328', 'Cork'),
 ('Marie Carr', '10-DL-6386', 'Kerry'),
 ('John Davis', '05-MH-22339', 'Dublin'),
 ('Jackson Dean', '02-MH-44541', 'Louth'),
 ('Jesse Chavez', '18-MN-26444', 'Meath'),
 ('Gregory Charles', '12-LM-22338', 'Wicklow'),
 ('Devin Shaw', '18-KY-29981', 'Wexford'),
 ('Laura Miller', '01-G-8684', 'Louth'),
 ('Marc Chapman', '04-KY-32797', 'Dublin'),
 ('Paul Nicholson', '08-LD-12240', 'Wexford'),
 ('Donna Mason', '18-WW-11514', 'Longford'),
 ('Dana Wade', '03-L-40377', 'Mayo'),
 ('Jenny Juarez', '15-G-37225', 'Longford'),
 ('Emily Alvarado', '14-CN-41515', 'Longford'),
 ('Robert Fields', '09-LS-131', 'Louth'),
 ('David Cox', '12-LS-47102', 'Leitrim'),
 ('Alan Cabrera', '15-WX-8189', 'Leitrim'),
 ('Donna Mason', '13-CW-21688', 'Longford'),
 ('John Davis', '15-DL-3247', 'Dublin'),
 ('Raymond Perkins', '02-D-22267', 'Clare'),
 ('Robert Acevedo', '01-LS-33323', 'Meath'),
 ('Peter Vaughn DDS', '10-WH-9955', 'Cork'),
 ('Joseph Griffith', '03-MO-4365', 'Wicklow'),
 ('Joseph Griffith', '04-LD-23688', 'Wicklow'),
 ('Alan Williams', '13-G-16885', 'Galway'),
 ('Jenny Juarez', '18-KE-36389', 'Longford'),
 ('Melissa Lowe', '01-T-15866', 'Westmeath'),
 ('Christopher Miller', '08-KE-16056', 'Kerry'),
 ('Kayla Rodriguez DVM', '13-G-24475', 'Clare'),
 ('Emily Cooper', '03-MO-25665', 'Kildare'),
 ('Stephanie Yates', '18-T-2425', 'Meath'),
 ('Elizabeth Harper', '04-WW-24305', 'Donegal'),
 ('Shannon Oneal', '13-OY-23701', 'Sligo'),
 ('David Matthews', '08-MO-46007', 'Leitrim'),
 ('Robert Price', '00-L-47267', 'Dublin'),
 ('Emily Cooper', '08-KK-47849', 'Kildare'),
 ('Elizabeth Harper', '16-MN-41115', 'Donegal'),
 ('Dana Wade', '02-DL-7526', 'Mayo'),
 ('Melanie White', '01-G-15863', 'Carlow'),
 ('Elizabeth Harper', '14-SO-6402', 'Donegal'),
 ('Lori Harmon', '02-CN-7196', 'Carlow'),
 ('Christopher Mcmahon', '01-CW-35670', 'Limerick'),
 ('Sandra Knight', '16-T-45794', 'Offaly'),
 ('Anna Henry', '03-KK-1616', 'Carlow'),
 ('Jennifer Reeves', '08-WX-43305', 'Offaly'),
 ('Mrs. Sheila Wilkerson', '15-W-31836', 'Tipperary'),
 ('Susan Cummings', '03-KE-1400', 'Cork'),
 ('Jared Nguyen', '08-WW-22857', 'Cavan'),
 ('Elizabeth Harper', '15-L-48040', 'Donegal'),
 ('Stephanie Yates', '05-CN-49186', 'Meath'),
 ('Tracey Olson', '18-T-43669', 'Kilkenny'),
 ('John Davis', '05-WX-40194', 'Dublin'),
 ('Anna Henry', '08-LH-30886', 'Carlow'),
 ('Melanie White', '07-G-36331', 'Carlow'),
 ('Leonard Chen', '06-WW-48865', 'Galway'),
 ('Leonard Brown', '16-MO-40801', 'Sligo'),
 ('George Fitzgerald', '15-L-37732', 'Carlow'),
 ('Gail Jones', '10-G-21752', 'Waterford'),
 ('Susan Cummings', '08-C-34297', 'Cork'),
 ('Jacob Moore', '17-SO-23443', 'Longford'),
 ('Dana Wade', '05-CN-5924', 'Mayo'),
 ('David Cox', '05-W-22770', 'Leitrim'),
 ('Joshua Perez', '10-LH-34050', 'Galway'),
 ('Robert Fields', '16-LS-26245', 'Louth'),
 ('Hannah Collier', '05-D-30917', 'Leitrim'),
 ('Dana Wade', '07-G-48955', 'Mayo'),
 ('Diane Hunt', '13-G-48846', 'Westmeath'),
 ('Megan Clarke', '05-L-42386', 'Kildare'),
 ('Richard Foley', '08-T-12971', 'Offaly'),
 ('Carrie Sullivan', '18-WH-6082', 'Galway'),
 ('Daniel Smith', '12-MO-30235', 'Limerick'),
 ('John Davis', '16-T-22243', 'Dublin'),
 ('Jeff Stevens', '03-L-37130', 'Dublin'),
 ('Devin Shaw', '12-MO-18353', 'Wexford'),
 ('Robert Fields', '11-MN-11186', 'Louth'),
 ('Robert Price', '05-WX-40062', 'Dublin'),
 ('Melissa Lowe', '04-D-38409', 'Westmeath'),
 ('William Hall', '16-CE-29807', 'Kerry'),
 ('Joseph Griffith', '15-D-4632', 'Wicklow'),
 ('Joshua Perez', '14-LM-31240', 'Galway'),
 ('David Cox', '15-LH-20280', 'Leitrim'),
 ('Jeff Stevens', '04-L-14265', 'Dublin'),
 ('Sandra Knight', '05-KK-13066', 'Offaly'),
 ('Jordan Velasquez', '02-MN-14407', 'Galway'),
 ('Jared Nguyen', '11-CE-42446', 'Cavan'),
 ('Melissa Lowe', '16-W-29168', 'Westmeath'),
 ('Katherine Dalton', '03-G-19542', 'Kildare'),
 ('Hannah Collier', '18-MO-35400', 'Leitrim'),
 ('Alan Williams', '11-KK-35894', 'Galway'),
 ('Seth Simpson', '07-G-5958', 'Westmeath')]

- Can query, for example, what car regs were not registered in the listed county.
- See w3schools.com for a tutorial on sql

In [40]:
conn.close()

## End